*.swp
.DS_Store
.bundle
.env
.rbenv-version
.sass-cache

log/*
!/log/.keep
tmp/
!/tmp/.keep
/tags

db/*.sqlite3
config/database.yml

coverage
public/assets
public/uploads

vendor/assets/components/**/*.min.*

.byebug_history

config/local_env.yml
