<li><%= link_to 'View your Games', user_games_path(current_user)  %></li>
<li><%= link_to 'Start a Game', user_games_path(current_user), method: :post  %></li>
<li><%= link_to 'Sign out' , new_user_session_path %></li>
